<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'ADD_PRODUCT.add_product' | translate }}</h5>
                </div>
                <div class="card-body">
                    <div class="row product-adding">
                        <div class="col-xl-5">
                            <div class="add-product">
                                <div class="row">
                                    <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                        <img [src]="imagePreviewUrl" alt="" class="img-fluid image_zoom_1">
                                        <br><br>
                                        <input class="upload" type="file" (change)="uploadImage($event)">
                                    </div>
                                    <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                        <ul class="file-upload-product">
                                            <!-- <li *ngFor="let item of url; let i=index">
                                                <div class="box-input-file">
                                                    <input class="upload" type="file" (change)="readUrl($event,i)">
                                                    <img class="imgUpload" alt="" [src]="item.img"></div>
                                            </li> -->
                                            <li *ngFor="let item of product.images; let i=index">
                                                <div class="box-input-file">
                                                    <!-- <input class="upload" type="file" (change)="readUrl($event,i)"> -->
                                                    <img class="imgUpload" alt="" [src]="item.src" (click)="selectImage(item.src)">
                                                </div>
                                                <i class="fa fa-times" aria-hidden="true" style="margin: 15px 0px 15px 10px; color:red;" (click)="deleteImage(item.idImage)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <!-- FORM -->
                            <form class="needs-validation" [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="add-product-form">

                                    <!-- Barcode -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.barcode' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" type="text" formControlName="barcode">
                                            <div *ngIf="getBarCode.errors?.maxlength && (getBarCode.dirty || getBarCode.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_maxlength' | translate }} {{ getBarCode.errors?.maxlength.requiredLength }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Title -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.title' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control first-letter-uppercase" type="text" formControlName="title">
                                            <div *ngIf="getTitle.errors?.required && (getTitle.dirty || getTitle.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_required' | translate }}
                                            </div>
                                            <div *ngIf="getTitle.errors?.minlength && (getTitle.dirty || getTitle.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_minlength' | translate }} {{ getTitle.errors?.minlength.requiredLength }}
                                            </div>
                                            <div *ngIf="getTitle.errors?.maxlength && (getTitle.dirty || getTitle.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_maxlength' | translate }} {{ getTitle.errors?.maxlength.requiredLength }}
                                            </div>
                                            <!-- <div *ngIf="getTitle.errors?.pattern && !getTitle.errors?.minlength && !getTitle.errors?.maxlength && (getTitle.dirty || getTitle.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_pattern' | translate }}
                                            </div> -->
                                        </div>
                                        
                                    </div>

                                    <!-- Brand -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.cmb_brand' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <select class="form-control" formControlName="selectBrand">
                                                <option [ngValue]="null">Seleccione...</option>
                                                <option *ngFor="let item of brandList" [ngValue]="item.idBrand">{{ item.name }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Collection -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.cmb_collection' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <select class="form-control" formControlName="selectCollection">
                                                <option [ngValue]="null">Seleccione...</option>
                                                <option *ngFor="let item of collectionList" [ngValue]="item.idCollection">{{ item.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <!-- Category -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.cmb_category' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <select class="form-control" formControlName="selectCategory">
                                                <option [ngValue]="null">Seleccione...</option>
                                                <option *ngFor="let item of categoryList" [ngValue]="item.idCategory">{{ item.catalogue.catalogueName + ': ' + item.name }}</option>
                                            </select>
                                            <div *ngIf="getCategory.errors?.required && (getCategory.dirty || getCategory.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_required' | translate }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tags -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.chk_tag' | translate }}:</label>
                                        <div id="TagsCheckBoxGroup" class="col-xl-8 col-sm-7">
                                            <div *ngFor="let tag of tagList; let i=index">
                                                <div *ngIf="tag.isSelected then isChecked else notChecked"></div>
                                                <ng-template #isChecked>
                                                    <label>
                                                        <input type="checkbox" [value]="tag.idTag" (change)="onCheckboxChange($event)" checked/>{{tag.name}}
                                                    </label>
                                                </ng-template>
                                                <ng-template #notChecked>
                                                    <label>
                                                        <input type="checkbox" [value]="tag.idTag" (change)="onCheckboxChange($event)"/>{{tag.name}}
                                                    </label>
                                                </ng-template>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Stock -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.stock' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" type="number" min="0" step="1" formControlName="stock">
                                            <div *ngIf="getStock.errors?.required && (getStock.dirty || getStock.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <!-- Price -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.price' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" type="text" formControlName="price">
                                            <div *ngIf="getPrice.errors?.required && (getPrice.dirty || getPrice.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_required' | translate }}
                                            </div>
                                            <div *ngIf="getPrice.errors?.pattern && !getPrice.errors?.minlength && !getPrice.errors?.maxlength && (getPrice.dirty || getPrice.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_pattern' | translate }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Description -->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4 mb-0">{{ 'ADD_PRODUCT.description' | translate }}:</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <textarea class="form-control first-letter-uppercase" type="text" rows="7" formControlName="description"></textarea>
                                            <div *ngIf="getDescription.errors?.required && (getDescription.dirty || getDescription.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_required' | translate }}
                                            </div>
                                            <div *ngIf="getDescription.errors?.minlength && (getDescription.dirty || getDescription.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_minlength' | translate }} {{ getDescription.errors?.minlength.requiredLength }}
                                            </div>
                                            <div *ngIf="getDescription.errors?.maxlength && (getDescription.dirty || getDescription.touched)" class="text text-danger">
                                                {{ 'ADD_PRODUCT.msn_err_maxlength' | translate }} {{ getDescription.errors?.maxlength.requiredLength }}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- <div class="form-group row mb-0">
                                    <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
                                        <button type="submit" class="btn btn-primary mr-1" [disabled]="!form.valid">{{ 'ADD_PRODUCT.btn_add' | translate }}</button>
                                        <button type="button" class="btn btn-light">{{ 'ADD_PRODUCT.discard' | translate }}</button>
                                    </div>
                                </div> -->

                                <div class="form-group row mb-0">
                                    <div class="product-buttons col-xl-8 col-sm-7 offset-sm-4">
                                        <button type="submit" class="btn btn-primary mr-1" [disabled]="!form.valid">{{ 'ADD_PRODUCT.btn_add' | translate }}</button>
                                        <button type="button" class="btn btn-light" (click)="discart()">{{ 'ADD_PRODUCT.btn_discard' | translate }}</button>
                                    </div>
                                </div>

                            </form>
                            <!-- /FORM -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->